<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title> {keyword}</title>

<meta name="viewport" content="minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
    <link href="/Styles/hashtobt.css" rel="stylesheet" type="text/css" />
    <link href="/Styles/head.css" rel="stylesheet" type="text/css" />
    <link href="/Styles/V2.2/css/so1.css" rel="stylesheet" type="text/css" />
    <script src="/Scripts/jquery.js" type="text/javascript"></script>
    <script src="/Scripts/search.js" type="text/javascript"></script>



<meta name="description" content="最新种子，最热门种子">
<meta name="keywords" content="最新种子，最热门种子，迅雷免费下载">
<meta name="title" content="磁力搜吧 近期热门种子，最新影视资源，在线下载，云点播">
<script type="text/javascript">
    function addFavorite(url, title) { try { window.external.addFavorite(url, title) } catch (e) { try { window.sidebar.addPanel(title, url, '') } catch (e) { alert("加入收藏失败，请使用Ctrl+D进行添加!") } } }


</script>
  
 
</head>
<body >
 <div class="navbar navbar-fixed-top" >
<div class="navbar-inner" >
<div class="container">
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
<a class="brand" href="/">HashBT</a>
<div class="nav-collapse">
<ul class="nav x-top-nav">
<li >
<a href="/"><i class="icon-home icon-white"></i> 首页</a></li>
<li class="">
<a href="/"><i class="icon-fire icon-white"></i> 搜吧</a></li>
<li >
<a href="/hashtobt.html"><i class="icon-th-list icon-white"></i> 磁力转换</a></li>


</ul>
<ul class="nav pull-right" >
<li class="x-li-nickname" >

<a id="login" class="login-register-dialog" style="cursor:pointer;">
<i class="icon-user icon-white"></i><font id="nav_nickname" onclick="addFavorite(this.href,'HashBT磁力种子,磁力搜索')">
收藏本页
</font>
</a>

</li>

</ul>

<div class="pull-left">
<div class="navbar-search input-append">
<input id="keyWord" type="text" value="{keyword}"
name="key" placeholder="来自星星的你" data-provide="typeahead"
class="typeahead search-query" autocomplete="off" style="margin:0;border-radius:15px 0 0 15px;  color:#666;">


    <input type="button" id="btnSouba" style="width:55px;height:30px;border-radius:0 15px 15px 0 ;" name="name" value="搜一下" />
</div>
</div>


</div>
</div>
</div>
</div>
<div id="main_content" style="width:960px;" class="container">



<div class="row-fluid" style="margin-bottom:5px; height:100px">

</div>

<div class="mainbox">

        <div class="conbox pdlr20 cl">
        <div class="listBox" id="s" runat="server">
            <!--<TemplateBegin>  
                <div class="list">
                <h2>
                <a href="/info/{url}" target="_blank">{Name}</a>
                </h2>
              
                <div class="introdiv" style="overflow: hidden;">
                {Details}
                </div>
                <p>
             
               
                <span class="copyurl">更新时间：{updatetime}</span>
                 <span class="copyurl">大小：{length}</span>
                <span class="copyurl">文件数量：{filecount}</span>
                 <span class="copyurl">下载地址：<a href="magnet:?xt=urn:btih:{hash}"  onclick="hitSoft('{hash}')" >磁力下载</a></span>
                </p>
                </div> 
                <TemplateEnd>-->
                   {content}
                
                  

                
                    <!--搜索结果-->
                </div>
                <div class="page clearfix" style="margin-bottom:30px">
         
           {$ShowPage}
                      
                      
                </div>
                <div class="page">&nbsp</div>
        </div>
        <!--/conbox end/-->
    </div>




<!-- modal -->




<div class="well" style="margin-top: 20px; font-size: 13px;">
<div class="" style="height: 20px;">

<div class="pull-right " style="color: #888;">
本站不提供任何视听上传服务，所有内容均来自视频分享站点所提供的公开引用资源
</div>
</div>
<div style="height: 20px;">

<div style="color: #888; " class="pull-right">Copyright &copy; 2014 A &amp; ziv 苏ICP备10000号</div>
</div>
</div>

<div style="display:none;">

</div>

</div>



</body>
</html>