<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="mobile-agent" content="format=html5;url=http://m.torrentba.com/bt/14005681.html">
    <title>{softname}-BT磁力资源迅雷下载-TorrentBa</title>
    <meta name="keywords" content="{softname},BT下载,磁力下载,迅雷下载,TorrentBa" />
    <meta name="description" content="{softname}BT种子一共有1个文件,总BT资源大小为1319MB,收录时间为2014-07-12,HASH值:7f2374ad0d590ef92dbca01ead7581a3f02805fe,请使用支持磁力链接下载的客户端进行下载" />
    <link rel="canonical" href="http://www.torrentba.com/bt/14005681.html" />
    <meta property="og:type" content="news" />
    <meta property="og:title" content="{softname}-BT磁力资源迅雷下载-TorrentBa" />
    <meta property="og:description" content="{softname}BT种子一共有1个文件,总BT资源大小为1319MB,收录时间为2014-07-12,HASH值:7f2374ad0d590ef92dbca01ead7581a3f02805fe,请使用支持磁力链接下载的客户端进行下载" />
    <meta property="og:image" content="/Template/torrentba/picture/14005681.png" />
    <meta property="og:url" content="http://www.torrentba.com/bt/14005681.html" />
    <meta property="og:release_date" content="2014-07-12" />
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="/Template/torrentba/Styles/global.css" />
    <!--<div id="loading-cover"></div>
<div id="loading-icon"><img src="picture/loading.gif" />载入中...</div>-->
    <script src="/Template/torrentba/Scripts/uaredirect.js" type="text/javascript"></script>
    <script type="text/javascript">        uaredirect("http://m.torrentba.com/bt/14005681.html");</script>
  <script src="/Scripts/jquery.js" type="text/javascript"></script>
   <script src="/Template/torrentba/Scripts/search.js" type="text/javascript"></script>
</head>
<body class="os_win7">
    <div class="lay_topfixed">
        <div class="lay_topfixed_inner">
            <div id="toolbar_container" class="gb_toolbar">
                <div class="wrap clearfix">
                    <a title="TorrentBa" class="logo fl" href="/" id="aNavBarLogo"><span class="none">T吧</span></a>
                    <div class="banner fl">
                        <ul>
                            <li><a title="网站首页" class="a_txt" href="/" id="aIcenter"><span>网站首页</span></a></li>
                            <li><a title="任意门" class="a_txt" href="/renyi.html" id="aIcenter"><span>任意门</span></a></li>
                            <li class="tablist" id="liNav_1"><a title="BT资源" class="tablist_link a_txt now_on"
                                href="#" id="aMainPage"><span class="tablist_link_i">BT资源<b class="a_trig"></b></span></a></li>
                        </ul>
                    </div>
                    <div class="userinfo fr">
                        <span href="javascript:;" class="now_hover userinfo_tit"><span class="user_name"><a
                            href="http://m.torrentba.com">手机版</a></span> <span class="user_name">|</span> <span
                                class="user_name"><a href="http://www.torrentba.com">中文版</a></span> <span class="user_name">
                                    |</span> <span class="user_name"><a href="http://jp.torrentba.com">日本语</a></span>
                            <span class="user_name">|</span> <span class="user_name"><a href="http://en.torrentba.com">
                                English</a></span> </span>
                    </div>
                    <div class="appbox pop_box pop_bg pop_bor none" id="divNavBox_1">
                        <div class="inner pop_bor2 clearfix baseapp_wrap" id="divRouteAppBoxFolder">
                            <div class="applist">
                                <ul class="clearfix" id="ulRouteAppList">
                                    <li>
                                        <div class="app_item">
                                            <a title="全部" href="#"><i class="icon_baseapp icon_app_1"></i><span>全部</span></a></div>
                                    </li>
                                    <li>
                                        <div class="app_item">
                                            <a title="电影" href="/b/2.html"><i class="icon_baseapp icon_app_2"></i><span>电影</span></a></div>
                                    </li>
                                    <li>
                                        <div class="app_item">
                                            <a title="动漫" href="/b/5.html"><i class="icon_baseapp icon_app_4"></i><span>动漫</span></a></div>
                                    </li>
                                    <li>
                                        <div class="app_item">
                                            <a title="电视剧" href="/b/3.html"><i class="icon_baseapp icon_app_5"></i><span>电视剧</span></a></div>
                                    </li>
                                    <li>
                                        <div class="app_item">
                                            <a title="综艺" href="/b/4.html"><i class="icon_baseapp icon_app_6"></i><span>综艺</span></a></div>
                                    </li>
                                    <li>
                                        <div class="app_item">
                                            <a title="游戏" href="/b/6.html"><i class="icon_baseapp icon_app_3"></i><span>游戏</span></a></div>
                                    </li>
                                    <li>
                                        <div class="app_item">
                                            <a title="番号" href="/b/7.html"><i class="icon_baseapp icon_app_10"></i><span>番号</span></a></div>
                                    </li>
                                    <li>
                                        <div class="app_item">
                                            <a title="其它" href="/b/8.html"><i class="icon_baseapp icon_app_10"></i><span>其它</span></a></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-top-holder">
        <div class="page-head-holder">
            <div class="logo">
                <a href="/">
                    <img width="255" height="50" src="/Template/torrentba/picture/logo.png" alt="TorrentBa"></a>
            </div>
            <div class="search">
                <form action="/s.php" target="_self">
        <span id="input-container">                 
          <div id="suggest-align">
                <input type="text" name="q" id="input" suggestwidth="501px" autocomplete="off" x-webkit-speech=""><cite id="suggest-tp"></cite>
            </div>
            <div id="sug-arrow"><span id="sug-new"></span></div>
        </span><input type="submit" id="search-button" value="搜索一下" onmouseover="this.className='hover'" onmousedown="this.className='mousedown'" onmouseout="this.className=''" class="">
    </form>
            </div>
        </div>
    </div>
    <div class="page-container-holder clearfix">
        <div id="pt" class="bm cl">
            <div class="z">
                <a href="/" class="nvhm" title="网站首页">网站首页</a><em>»</em> <a href="/b/10.html"></a>
                <em>›</em> <a href="http://www.torrentba.com/bt/14005681.html">{softname}</a></div>
        </div>
        <div class="qire-notice">
            <h1>
                本页面支持广告服务</h1>
        </div>
        <div class="Lvipic1 z">
            <div class="Lvpleft1">
                <div class="detail shadow">
                    <div class="show rars fRar" id="container" onselectstart="return false" style="outline: 0px;
                        height: 480px; min-height: 480px; background: #fff;" hidefocus="true" tabindex="0">
                        <div class="tit" id="addressBar" style="background-position: 0px 0px;">
                            <a class="act btn nUpw" id="cp_back" href="javascript:history.back(-1);" title="BT磁力资源迅雷下载">
                            </a><span id="cp_path">
                                <div class="linebr">
                                    {softname}</div>
                            </span>
                        </div>
                        <div class="con file-list-icon" style="">
                            <ul id="cpContainer" class="fix">
                                <li>
                                    <div class="photo-box">
                                        <img src="/Template/torrentba/picture/www.png" alt=""><i></i></div>
                                    <span class="file-name" field="file_name" title="{softname}">{softname}</span></li>
                            </ul>
                        </div>
                        <div class="sta" id="cp_num" style="display: block;">
                            总计<font color="#3333ff">{filecount}</font>个文件 , 文件总大小为：<font color="#ff0000"> {length}</font>，更新时间：{updatetime}</div>
                    </div>
                   
                    <div class="hq">
                        <img src="/Template/torrentba/picture/14005681.png" width="180" height="180" alt="{softname} 二维码下载"
                            title="{softname} 二维码下载">
                        <div class="quote">
                            <strong>Hash值：</strong>
                            <blockquote>
                                <p id="copyDemo">
                                    {hash}</p>
                            </blockquote>
                        </div>
                        <br>
                        <div class="quote">
                            <strong>磁力链接：</strong>
                            <blockquote>
                                <p id="para" class="paramm">
                                    magnet:?xt=urn:btih:{hash}&dn={softname}</p>
                            </blockquote>
                        </div>
                        <br>
                        <div class="quote">
                            <strong>网站地址：</strong>
                            <blockquote>
                                <p id="copyDemo">
                                    http://www.torrentba.com/bt/14005681.html</p>
                            </blockquote>
                        </div>
                        <div class="mox">
                            <div class="title">
                                <span>快捷下载地址</span><p>
                                </p>
                            </div>
                            <div class="downlist">
                                <script src="/Template/torrentba/Scripts/webthunderdetect.js"></script>
                                <script src="/Template/torrentba/Scripts/base64.js"></script>
                                <script language="javascript">                                    var thunderPath = ""; var thunderPid = "96329"; </script>
                                <script src="/Template/torrentba/Scripts/thunderforum.js"></script>
                                <ul>
                                    <li><span><a href="javascript:;" target="_blank" class="d5" id="copy_p">复制磁力</a><a
                                        oncontextmenu="ThunderNetwork_SetHref(this)" onclick="return OnDownloadClick_Simple(this,2,4)"
                                        href="#" thunderrestitle="{softname}" thundertype="" thunderpid="96329"
                                        thunderhref="magnet:?xt=urn:btih:{hash}&dn={softname}"
                                        class="d6">迅雷下载</a><a href="magnet:?xt=urn:btih:{hash}&dn={softname}"
                                            class="d7">旋风下载</a><a class="d1" rel="nofollow" href="http://lixian.vip.xunlei.com/lixian_login.html?referfrom=union&ucid=96329&furl=magnet:?xt=urn:btih:{hash}&dn={softname}"
                                                target="_blank">离线下载</a><a class="d2" href="http://vod.xunlei.com/client/cplayer.html?url= magnet:?xt=urn:btih:{hash}&dn={softname}"
                                                    rel="nofollow" target="_blank">云播点播</a><a href="#" target="_blank" class="d3">BT下载</a></span></li>
                                </ul>
                            </div>
                        </div>
                        <!--兼容版，可保证页面完全兼容-->
                        <a name="labsTarget"></a>
                        <div id="cyEmoji" role="cylabs" data-use="emoji">
                        </div>
                        <!--高速版，加载速度快，使用前需测试页面的兼容性-->
                        <div id="SOHUCS" sid="14005681">
                        </div>
                        <script>
                            var _config = {
                                varName: '14005681'
                            };
                            (function () {
                                var appid = 'cyqRRb1E4',
                    conf = 'prod_e038453073d221a4f32d0bab94ca7cee';
                                var doc = document,
                    s = doc.createElement('script'),
                    h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
                                s.type = 'text/javascript';
                                s.charset = 'utf-8';
                                s.src = 'http://assets.changyan.sohu.com/upload/changyan.js?conf=' + conf + '&appid=' + appid;
                                h.insertBefore(s, h.firstChild);
                                window.SCS_NO_IFRAME = true;
                            })()
                </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="wpRight y">
            <div class="ad1">
                <script type='text/javascript' charset='gb2312' src='Scripts/s.php'></script>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/Template/torrentba/Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/Template/torrentba/Scripts/jquery.zclip.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#copy_p").zclip({
                path: '/statics/js/ZeroClipboard.swf',
                copy: $('#para').text(),
                afterCopy: function () {
                    $("#para").css("background-color", '#cff');
                    $("<span id='msg'/>").insertAfter($('#copy_p')).text('复制成功').fadeOut(2000);
                }
            });
        });
</script>
    <script type="text/javascript" charset="utf-8" src="Scripts/6b48dfe28a2c45de905f815a3b9dbf50.js"></script>
    <div id="footer" class="container">
        <div class="foot-nav">
            <a target="_blank" href="#">开发者API</a> <a target="_blank" href="#">使用手册</a> <a target="_blank"
                href="#">申请加入</a> <a target="_blank" href="http://www.torrentba.com/d/1.html">广告服务</a>
            <a target="_blank" href="http://www.torrentba.com/d/2.html">关于我们</a> <a target="_blank"
                href="http://www.torrentba.com/d/2.html">免责声明</a> <a target="_blank" href="http://www.torrentba.com/sitemap.xml">
                    网站地图</a>
        </div>
        <div id="copyright">
            Copyright &copy; 2014-2016 TorrentBa all rights reserved.</div>
        <span style="display: none">
            <script type="text/javascript">                var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_5705517'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s9.cnzz.com/stat.php%3Fid%3D5705517' type='text/javascript'%3E%3C/script%3E"));</script>
            <script type="text/javascript" c="fc" charset="utf-8" src="Scripts/cs.php"></script>
        </span>
    </div>
    <script type="text/javascript" src="Scripts/toolbar1.js"></script>
    <script>        window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "16" }, "slide": { "type": "slide", "bdImg": "5", "bdPos": "left", "bdTop": "240.5" }, "image": { "viewList": ["qzone", "tsina", "tqq", "renren", "weixin"], "viewText": "分享到：", "viewSize": "16" }, "selectShare": { "bdContainerClass": null, "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"]} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
    <script type="text/javascript" charset="utf-8" src="Scripts/load_1.php"></script>
    <noscript>
        <a href="http://www.cpv6.com/" rel="nofollow" target="_blank">风车广告联盟</a></noscript></body>
</html>
