<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <link type="text/css" href="/Styles/kbweb20120412.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="subbox" id="gg_Cmt">
        <script type="text/javascript">            function $(obj) { return document.getElementById(obj); } function showtag(obj) { if (obj != "1") $("tabg1").className = ""; $("g1").className = "move_list03 hidden"; if (obj != "2") $("tabg2").className = ""; $("g2").className = "move_list03 hidden"; if (obj != "3") $("tabg3").className = ""; $("g3").className = "move_list03 hidden"; if (obj != "4") $("tabg4").className = ""; $("g4").className = "move_list03 hidden"; $("tabg" + obj).className = "on"; $("g" + obj).className = "move_list03 show"; }</script>
        <div class="tabtitle">
            <ul>
                <li id="tabg1" class="on" onmousemove="showtag('1')">电影</li><li id="tabg2" onmousemove="showtag('2')">
                    电视</li><li id="tabg3" onmousemove="showtag('3')">动漫</li><li id="tabg4" onmousemove="showtag('4')">
                        综艺</li></ul>
        </div>
        <div class="info">
            <dl id="g1" class="move_list03">
                <dt><a href="/keyword-私人定制-p1.html" target="_parent">私人定制</a></dt>

                </dl>
            <dl id="g2" class="move_list03 hidden">
                <dt><a href="/keyword-最美的时光-p1.html" target="_parent">最美的时光</a></dt>

                </dl>
            <dl id="g3" class="move_list03 hidden">
                <dt><a href="/keyword-火影忍者-p1.html" target="_parent">火影忍者</a></dt>

                </dl>
            <dl id="g4" class="move_list03 hidden">
                <dt><a href="/keyword-爸爸去哪儿-p1.html" target="_parent">爸爸去哪儿</a>

                </dl>
        </div>
    </div>
</body>
</html>
<!--执行耗时:32ms 执行时间:2013-12-21 12:06:47-->
